:root {
  --header-border-color: #cccccc;
  --header-font-color: #6795eb;
  --main-background-color: #afafaf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #fff;
}

img, svg {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  flex: 0 10vh;
  text-align: center;
  color: var(--header-font-color);
  /* box-shadow: 0px 3px 3px #333; */
  height: 10vh;
  width: 100vw;
}

main {
  background: var(--main-background-color);
  display: flex;
  justify-content: center;
  flex: 1;
}

/* SOCIAL PANEL STYLING  */

.social-panel {
  background-color: #fff;
  width: 80%;
  margin: 20px;
  padding: 10px;
  box-shadow: 3px 3px 3px #333;
}

.social-panel .title {
  text-align: center;
  padding: 10px 0;
}

.social-panel .panel-section {
  padding-bottom: 10px;
}

.social-panel .photo-panel {
  display: flex;
  flex-direction: row;
}

.social-panel .photo-panel .photo-container {
  width: 50%;
}

.social-panel .photo-panel .photo {
  width: 200px;
  height: 200px;
}

.social-panel .photo-panel .details {
  width: 50%;
}

.social-panel .photo-panel .details .profile-item{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.social-panel .photo-panel .details .profile-item p{
  width: 50%;
}

/* .social-panel .photo-panel .details .profile-item:nth-child(1) {
  width: 50%;
}

.social-panel .photo-panel .details .profile-item:nth-child(2) {
  width: 50%;
} */


footer {
  flex: 0 10vh;
  padding-top: 20px;
  text-align: center;
  /* box-shadow: 0px -3px 3px #333; */
  height: 10vh;
  width: 100vw;
}

@media (max-width: 600px) {
  .social-panel .photo-panel {
    display: flex;
    flex-direction: column;
  }

  .social-panel .photo-panel .photo-container {
    width: 100%;
  }

  .social-panel .photo-panel .photo-container .photo {
    margin: auto;
  }


  .social-panel .photo-panel .details .profile-item{
    flex-direction: column;
    /* align-items: center; */
  }

  .social-panel .photo-panel .details .profile-item p{
    width: 100%;
  }

}